<h1>Editing task</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', project_tasks_path(@task), class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', projects_path(@project), class: "btn btn-default btn-sm" %>
